{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-24 w-auto" src="{{ asset('favicon.svg') }}"
                     alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Connexion
                </h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    Ou
                    <a href="{{ path('app_register') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                        pas encore inscrit ?
                    </a>
                </p>
            </div>

            {{ include('security/includes/login_form.html.twig') }}

        </div>
    </div>
{% endblock %}
