{% extends 'base.html.twig' %}

{% block title %}Inscription | {{ parent() }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-24 w-auto" src="{{ asset('favicon.svg') }}"
                     alt="Snowboard Icon">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Inscription
                </h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    Ou
                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Déjà Inscrit ? Connexion
                    </a>
                </p>
            </div>

            {{ include('registration/includes/register_form.html.twig') }}
        </div>
    </div>

{% endblock %}
